.container-outer {
  justify-content: center;
  align-items: center;
  display: flex;
  scroll-snap-align: start;
  user-select: none;
  scroll-snap-align: start;
  overflow-anchor: none;
}



.container-inner {
  margin-top: 15vh;
  width: min(var(--max-container-width), 95vw);
  height: 100vh;
  display: flex;
  flex-direction: column;
}


.container-inner .main {
  display: grid;
  max-width: min(1000px, 95vw);
  gap: 30px;
}

.title {
  font-size: 9rem;
  text-transform: uppercase;
}

.subtitle {
  font-size: 8.2rem;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  user-select: none;
}

.caption {
  font-size: 3rem;
}

.bottom {
  margin-top: 20px;
}

@media (max-width: 950px) {
  .title {
    font-size: 4rem;
    text-align: center;
    font-weight: 700;
  }

  .caption {
    font-size: 1.8rem;
    text-align: center;
  }

  .subtitle {
    font-size: 4rem;
    font-weight: 700;
  }
}
